.extension-window {
    position: sticky;
    left: 0px;
    top: 62px;

    width: 296px;
    min-height: 200px;

    padding: 18px;
    margin-right: 10px;

    background: white;
}

.extension-window-title {
    margin-bottom: 8px;

    font-size: 20px;
    font-weight: bold;
}

.extension-window-tasks-container {
    display: flex;
    align-items: center;
}

.extension-window-tasks-container label {
    margin-bottom: 3px;
}